.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.form-Login{
    font-weight: 1000;
    font-size: 2.5rem;
    color: green;
}
.h-custom {
height: calc(100% - 73px);
}

.row {
    --bs-gutter-x: -8rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}




@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}